ul.menu {
    width: 80%;
    height: 300px;
    border: 1px solid #777;
    background-color: #fbca93;
    overflow: hidden;
}

ul.menu li {
    background-color: #bcd5e6;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
